@model ServiceViewModel
@{
    ViewData["Title"] = "Index";
}


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <p class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Services</p>
        <div class="d-inline-flex mb-lg-5">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Services</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid pt-5">
    <div class="container">
        <div class="section-title">
            <p class="text-primary text-uppercase" style="letter-spacing: 5px;">Our Services</p>
        </div>
 <div class="row">
            @foreach (Service service in Model.Services)
            {
                    <div class="col-lg-6 mb-5">
                        <div class="row align-items-center">
                            <div class="col-sm-5">
                                <img class="img-fluid mb-3 mb-sm-0" src="~/uploads/services/@service.ImageUrl" alt="">
                            </div>
                            <div class="col-sm-7">
                                <h5>@Html.Raw(service.IconUrl)
                                @service.Title</h5>
                                <p class="m-0">@service.Description</p>
                            </div>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>
<!-- Service End -->
